*{
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

header{
    height: 10vh;
}
main{
    height: 85vh;
    margin-inline:auto ;
    width:50vw;
    padding:2rem;
}

footer{
    height: 5vh;
    text-align: center;
}

button{
    max-width: 15rem;
}

img{
    width:12rem;
    border:2px solid black;
    border-radius: 10px;
    margin-block: 1rem;
}

.data{
    display:grid;

}